/* the commented parts are currently-experimental design changes being proposed */

#clock {
    /* pointer-events: auto; */
    font-weight: normal;
    color: white;
    border-radius: 30px;
    /* transition-duration: 1s */
}

.clock-inprogress {
    color: black !important;
    background-color: yellow !important;
}

.clock-ended {
    background-color: unset !important;
}

.clock-notstarted {
    background-color: lightseagreen !important;
}
